<div class="main">
  <div class="container mt-5 pt-5">
    <h1 class="text-center mx-auto font-weight-bold mb-5"><%= @cocktail.name %></h1>
    <div class="d-flex mt-5">
      <div class="image-md-placeholder">
        <%# if there is an image attached, print de imagem, else print a placeholder%>
        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag(@cocktail.photo.key, class: "image-md") %>
        <% else %>
          <%= cl_image_tag("default-ui-image-placeholder-wireframes-600w-1037719192_uukskj", class: "image-md")%>
        <% end %>
      </div>
      <div class="ml-5">
        <h2 class="font-weight-bold"><em>Ingredients</em></h2>
        <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <span><%= dose.description %></span>
            <span><%= dose.ingredient.name %></span>
            <span><%= link_to('delete', dose_path(dose), method: "DELETE") %></span>
          </li>
        <% end %>
        </ul>

        <div>
          <h6 class="font-weight-bold">+ Add New Ingredient</h6>
          <%= render("doses/new_form")%>
        </div>
      </div>
    <div>
  </div>
</div>

